Telas/Menu/__pycache__
Telas/Login/__pycache__
Telas/DadosVendedor/__pycache__
Telas/DadosRemedio/__pycache__
Telas/DadosEmpresa/__pycache__
Telas/DadosCliente/__pycache__
Telas/CriarConta/__pycache__
Telas/CadastroVendedor/__pycache__
Telas/CadastroRemedio/__pycache__
Telas/CadastroCliente/__pycache__
Funcoes/__pycache__
