Telas/Menu/__pycache__/menu.cpython-311.pyc
Telas/Login/__pycache__/login.cpython-311.pyc
Telas/DadosVendedor/__pycache__/dados_vendedor.cpython-311.pyc
Telas/DadosRemedio/__pycache__/dados_remedio.cpython-311.pyc
Telas/DadosEmpresa/__pycache__/dados_empresa.cpython-311.pyc
Telas/DadosCliente/__pycache__/dados_cliente.cpython-311.pyc
Telas/CriarConta/__pycache__/criar_conta.cpython-311.pyc
Telas/CadastroVendedor/__pycache__/cadastrar_vendedor.cpython-311.pyc
Telas/CadastroRemedio/__pycache__/cadastrar_remedio.cpython-311.pyc
Telas/CadastroCliente/__pycache__/cadastrar_cliente.cpython-311.pyc
Funcoes/__pycache__/crud.cpython-311.pyc
